body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.maleBox {
  background-color: blue;
  border-radius: 15px;
  height: auto;

}

.femaleBox {
  background-color: pink;
  border-radius: 15px;
    height: auto;


}

.wrapper {
  display: flex;
  justify-content: space-around;
}



.userSection {
  width: 100%;
  display: flex;
flex-wrap:wrap;
flex-direction: row;
}

.userBox {
  width:30vw;
  padding:5px;
  font-size: 10px;

}

.profilePic {
  border-radius: 50%;
  height: 10vh;
  margin: 5px;
}

.titleName {
  font-size: 1.5em;
}

.titleName {
  padding: 5px;
}

.genderType {
  padding:5px;
}